.buttonMain {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 18px 0;
  width: 100%;
  display: inline-block;
  background: #9dd458;
  border-radius: 18px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(#000, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(#000, 0.2);
  }
}

.actionButton {
  width: 32px;
  height: 32px;
  border-radius: 7px;
  background: #fff;
  border: 1px solid #f2f2f2;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 8px rgba(#000, 0.2);
    background: #fff;
    border-color: #e0e0e0;
  }

  &:active,
  &:focus {
    box-shadow: 0 2px 5px rgba(#000, 0.2);
    background: #fff;
    border-color: #d0d0d0;
  }

  img {
    width: 14px;
    height: 100%;
    background: none;
    border: none;
    box-shadow: none;
  }
}
