main {
  margin: 40px;
}

.header {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
}

.homeTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
